/*
-----------------------------
--dev 
-----------------------------
white: #FFFFFF;
grey: #dddddd;
green: #81c443;
black: #292929;
*/

/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Lato:700&display=swap');
/* font-family: 'Baloo Tamma', 'Lato'; */

/* INIT */
*{
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    font-family: 'Lato';
    font-weight: 100;
    font-style: normal;
}
/* Grid */
.two-columns{
    display: flex;
    flex-direction: row;
}
.one-column{
    display: flex;
    flex-direction: column;
    width: 50%;
}
/* CONTAINER-MAIN */
.container-main{
    padding: 0px 50px;
}
/* NAV */
.nav{
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
    position: relative;
}
.nav i{
    padding: 5px;
    font-size: 1.3em;
    background-color: #dddddd;
}
.nav i:nth-of-type(1){
}
.nav i:nth-of-type(2){
    margin-left: auto;
}
.nav button{
    margin-left: 20px;
}
/* FONTS COLORS */
.font-white{
    color: #FFFFFF;
}
.font-green{
    color: #81c443;
}
.font-grey{
    color: #dddddd;
}
/* ??? */
.title-main{
    font-family: "Baloo Tamma";
    color: #292929;
    margin-top: 0px;
}
.uppercase{
    text-transform: uppercase;
}
/*ALONE LINK*/
.text-align-right{
    text-align: right;
    margin-top: 140px;
}
/* HR */
hr{
    background-color: #dfdfdf;
    border: 0px solid transparent;
    height: 1px;
}
/* BUTTON */
.button-radius{
    display: inline-block;
    font:;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 15px;
    padding: 7px 15px;
}
.button-green{
    color: #FFFFFF;
    background-color: #81c443;
}
.button-grey{
    color: #292929;
    background-color: #dddddd;
}
/* ICO */
.ico-green{
    color: #81c443;
}
/* META TAG */
.meta-tag-container{
    
}
.meta-tag-item{
    display: inline;
    color: grey;
    background-color: transparent;
    font-family: inherit;
    border: 3px solid transparent;
}
.meta-tag-item-green{
    color: #81c443;
}
.meta-tag-ico{
    color: grey;
    font-size: 1.4em;
}
.meta-tag-ico-light{
    color: rgb(201, 201, 201);
    font-size: 1.4em;
}
.meta-tag-ico-green{
    color: #81c443;
    font-size: 1.4em;
}
/* COMMENTS SECTION */
.comment-section-container{
    border: 2px solid grey;
    margin: 15px 0px 30px 0px;
}
/* COMMENT UNIT */
.comment-unit-container{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    padding: 10px;
}
.comment-unit-img{
    display: flex;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 15px;
}
.comment-unit-text{
    display: flex;
    color: grey;
}
.comment-unit-name{
    font-weight: bold;
    color: #81c443;
}
.comment-unit-date{
    font-style: italic;
}
/* COMMENT EDIT */
.comment-section-edit{
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
}
.comment-section-edit-icon{
    padding: 10px;
}
.comment-section-edit-input{
    width: 100%;
    display: flex;
    padding: 5px;
}
.comment-section-edit-input input{
    width: 100%;
    border: 1px solid violet;
}