/*
-----------------------------
--dev 
-----------------------------
white: #FFFFFF;
grey: #dddddd;
green: #81c443;
black: #292929;
*/

/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Lato:700&display=swap');
/* font-family: 'Baloo Tamma', 'Lato'; */

/* INIT */
*{
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    font-family: 'Lato';
    font-weight: 100;
    font-style: normal;
}

/* FONTS COLORS */
.font-white{
    color: #FFFFFF;
}
.font-green{
    color: #81c443;
}
/* ??? */
.title-main{
    font-family: "Baloo Tamma";
    color: #292929;
}
.uppercase{
    text-transform: uppercase;
}
/* HR */
hr{
    background-color: #dfdfdf;
    border: 0px solid transparent;
    height: 1px;
}
/* BUTTON */
.button-radius{
    display: inline-block;
    font:;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 15px;
    padding: 7px 15px;
}
.button-green{
    color: #FFFFFF;
    background-color: #81c443;
}
.button-grey{
    color: #292929;
    background-color: #dddddd;
}
/* ICO */
.ico-green{
    color: #81c443;
}
/* META TAG */
.meta-tag-container{
    
}
.meta-tag-item{
    display: inline;
    color: grey;
    background-color: transparent;
    font-family: inherit;
    border: 3px solid transparent;
}
.meta-tag-item-green{
    color: #81c443;
}
.meta-tag-ico{
    color: grey;
    font-size: 1.4em;
}
.meta-tag-ico-light{
    color: rgb(201, 201, 201);
    font-size: 1.4em;
}
.meta-tag-ico-green{
    color: #81c443;
    font-size: 1.4em;
}
/* COMMENTS SECTION */
.comment-section-container{
    border: 2px solid grey;
    margin: 15px 0px 30px 0px;
}
/* COMMENT UNIT */
.comment-unit-container{

}
.comment-unit-img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
/* COMMENT TEXT AREA */